* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 90%;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

@media (min-width: 1024px) {
  body {
    width: 960px;
  }

  .main-container {
    flex-direction: row;
  }
}
